h1{
    color:#039;
    font-size: 50px;
}

h2{
    color:#c30;
    font-size: 30px;
}
h1,h2{
    letter-spacing: 1px;
}

p{
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 30px;
    text-align:justify;
}