body{
    background-color: bisque;
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

div.box{
    background-color: rgba(215, 96, 96, 0.603);
    width: 1200px;
    margin: auto;
    padding: 20px;
}

p{
    text-align: justify;
}