* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ebe3ae;
    display: flex;
    justify-content: center;
}

.container {
    background-color: antiquewhite;
    width: 1200px;
}


.header {
    background-image: url(./banner.png);
    height: 250px;
}

.header h1 {
    box-sizing: border-box;
    padding: 60px 0px 0px 300px;
}

.header h1 img {}

.nav {
    background-color: rgb(26, 149, 170);
}

.nav ul {
    background-color: rgb(56, 187, 56);
    display: flex;
    justify-content: center;
}

.nav ul li {
    background-color: rgb(38, 46, 98);
    list-style: none;
    margin-right: 20px;
}

.nav ul li a {
    display: block;
    background-color: brown;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

.nav ul li a:hover {}

.content {
    /* 此插圖作法 會造成每個底下都被排列了 */
    display: flex;
}

.content h2 {}

.content p {
    padding: 20px;
    text-align: justify;
}

.content p img{

}

.footer {
    background-color: #c0dc34;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer h3 {}

.footer h4 {}